### 예제1 : age의 결측치를 age의 중앙값(median) 으로 채워서 age_filled 컬럼을 만드세요.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "name": ["A", "B", "C", "D", "E", "F"],
    "age":  [23,  np.nan, 31, 28,  np.nan, 40],
    "score":[80,  90,    np.nan, 70,  85,   np.nan],
    "city": ["Seoul", None, "Busan", None, "Seoul", "Incheon"]
})

In [2]:
print(df)

  name   age  score     city
0    A  23.0   80.0    Seoul
1    B   NaN   90.0     None
2    C  31.0    NaN    Busan
3    D  28.0   70.0     None
4    E   NaN   85.0    Seoul
5    F  40.0    NaN  Incheon

In [7]:
df_median = df['age'].median()
newdf = df['age'].fillna(df_median)

df['age_filled'] = newdf

print(df)

  name   age  score     city  age_filled
0    A  23.0   80.0    Seoul        23.0
1    B   NaN   90.0     None        29.5
2    C  31.0    NaN    Busan        31.0
3    D  28.0   70.0     None        28.0
4    E   NaN   85.0    Seoul        29.5
5    F  40.0    NaN  Incheon        40.0

### 예제2 : score의 결측치를 score의 평균(mean) 으로 채워서 score_filled 컬럼을 만드세요.

In [12]:
score_mean = df['score'].mean()


df['score_filled'] = df['score'].fillna(score_mean)

print(df)

  name   age  score     city  age_filled  score_filled
0    A  23.0   80.0    Seoul        23.0         80.00
1    B   NaN   90.0     None        29.5         90.00
2    C  31.0    NaN    Busan        31.0         81.25
3    D  28.0   70.0     None        28.0         70.00
4    E   NaN   85.0    Seoul        29.5         85.00
5    F  40.0    NaN  Incheon        40.0         81.25

### 예제3 : city의 결측치를 문자열 "Unknown"으로 채워서 city_filled 컬럼을 만드세요.

In [20]:
df['city_filled'] = df['city'].fillna('Unknown')
print(df)

  name   age  score     city  age_filled  score_filled city_filled
0    A  23.0   80.0    Seoul        23.0         80.00       Seoul
1    B   NaN   90.0     None        29.5         90.00     Unknown
2    C  31.0    NaN    Busan        31.0         81.25       Busan
3    D  28.0   70.0     None        28.0         70.00     Unknown
4    E   NaN   85.0    Seoul        29.5         85.00       Seoul
5    F  40.0    NaN  Incheon        40.0         81.25     Incheon

### 마지막에 df를 출력했을 때 결측치가 남아있는 컬럼이 무엇인지 df.isna().sum()으로 확인하세요.

In [21]:
df.isna().sum()

name            0
age             2
score           2
city            2
age_filled      0
score_filled    0
city_filled     0
dtype: int64